[Desktop Entry]
Type=Application
Name=Blender293lts
Comment=Blender 2.93
Exec=/home/doeringc/programms/blender-2.93.11-linux-x64/blender
Icon=/home/doeringc/programms/blender-2.93.11-linux-x64/blender.svg

