[Desktop Entry]
Version=1.0
Type=Application
Name=tev
Comment=High dynamic range (HDR) image viewer
Exec=/home/doeringc/.local/bin/tev %f
Icon=image-x-generic
Terminal=false
Categories=Graphics;Photography;Viewer;
MimeType=image/jpeg;image/jpg;image/png;image/gif;image/bmp;image/tiff;image/webp;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-targa;image/openexr;image/x-exr;image/x-hdr;image/x-radiance-hdr;
StartupNotify=true